*{
    font-family: 'Roboto Mono',monospace;
}


/* fix navbar-fixed-top */
.navbar.is-fixed-top{
    top:0
}


#logo{
    height:3rem;
    width:auto;
}

/* welcome message text styling */
#home{
    padding-bottom: 5rem;
    border-bottom: solid;
    border-bottom-color: #b0b0b0;
    border-bottom-width: thin;
    height: 25rem;
}

#home #welcomeMsg{
    text-align: center;
}

#home #welcomeMsg h1{
    font-size: 4rem;
}

#home #welcomeMsg p{
    font-size: 2rem;
}

#navigationBar nav.navbar{
    border-bottom: solid;
    border-bottom-color: #b0b0b0;
    border-bottom-width: thin;
}


/* seciton paddings and font size*/
.section{
    padding: 1rem 1rem 5rem 1rem;
}
#about h1,#skills h1,#work h1{
    font-size: 1.5rem;
}


/* about section */
#about p{
    text-align: center;
}

/* skills section */
#skills ul,#skills li{
    list-style: inside;
}


#skills span.skillTech{
    padding: 1rem 0;
    display:block;
}

#skills span.skillTech h3{
    font-weight: bolder;
}

#skills span.skillTech img{
    height: 175px;
}



/* work section */
.section#work hr{
    margin: 0.5rem 0;
}

.section#work h2{
    font-size: 1.25rem;
}
.section#work h3{
    font-size:1.15rem;
    padding-bottom: 0.3rem;
}

.section#work .proj{
    padding: 1rem 0;
}

.section#work .proj .projTxt h4{
    font-size: 1.1rem;
    text-decoration: underline;
}

.section#work .proj .projTxt i{
    padding:1rem 0;
    display: block;
}

@media screen and (min-width: 1024px){
    .section#work .proj .projTxt{
        padding-top: 7rem;
    }
}



/* footer */
#footer a{
    padding: 0 1rem 0 1rem;
}

#footer{
    border-top-color: #b0b0b0;
    border-top-style: solid;
    border-top-width: thin;
    padding-bottom: 1rem;
}